{% extends "admin/base.html.twig" %}
{% block title %}Modification d'un produit
{% endblock %}
{% block body %}
	<div class="container mt-4">
		{{ form_start(form) }}
		<div class="row">
			<div class="col">
				<div class="alert alert-light">
					<h2 class="alert-heading">Generals informations</h2>
					<hr>
					{{ form_row(form.mark) }}
					{{ form_row(form.price) }}
					{{ form_row(form.category) }}
					{{ form_row(form.images) }}
				</div>
			</div>
			<div class="col">
				<div class="alert alert-light">
					<h2 class="alert-heading">Details</h2>
					<hr>
					{{ form_row(form.color) }}
					{{ form_row(form.description) }}

					<hr>
					<button type="submit" class="genric-btn primary">

						<i class="fa fa-check"></i>
						Sauvegarder
					</button>
				</div>
			</div>
		</div>
		{{ form_end(form) }}

	</div>

{% endblock %}
